{
 "id": "node-3",
 "name": "Node 3",
 "selector": {
  "mac": "00:22:19:ab:7e:76",
  "os": "installing"
 },
 "profile": "gateway.gen",
  "metadata": {
    "hostname": "node-3",
    "pynetkey": false,
    "interface": {
      "internal": "ens34", 
      "external": "ens33"
    },
    "address": {
      "internal": "10.10.0.8"
    }
  }
}