[Unit]
Description=Run dnsmasq, providing dhcp, dns and network book

[Service]
ExecStart=docker run --cap-add=NET_ADMIN --net=host quay.io/coreos/dnsmasq \
  --dhcp-range=10.10.0.10,10.10.1.255 \
  --enable-tftp --tftp-root=/var/lib/tftpboot \
  --dhcp-userclass=set:ipxe,iPXE \
  --dhcp-boot=tag:#ipxe,undionly.kpxe \
  --dhcp-boot=tag:ipxe,http://matchbox.example.com:8080/boot.ipxe \
  --address=/matchbox.example/10.10.0.1 \
  --log-queries \
  --log-dhcp

[Install]
WantedBy=multi-user.target