[Unit]
Description=Run dnsmasq, providing dhcp, dns and network book
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill dnsmasq1
ExecStartPre=-/usr/bin/docker rm dnsmasq1
ExecStartPre=/usr/bin/docker pull dnsmasq1
ExecStart=docker run --name=dnsmasq1 --cap-add=NET_ADMIN --net=host quay.io/coreos/dnsmasq -d -q \
  --interface=ens37 \
  --dhcp-range=ens37,10.10.0.20,10.10.0.50,12h \
  --enable-tftp --tftp-root=/var/lib/tftpboot \
  --dhcp-userclass=set:ipxe,iPXE \
  --dhcp-boot=tag:#ipxe,undionly.kpxe \
  --dhcp-boot=tag:ipxe,http://matchbox.example.com:8080/boot.ipxe \
  --address=/matchbox.example/10.10.0.1 \
  --log-queries \
  --log-dhcp

[Install]
WantedBy=multi-user.target