[Unit]
Description=CoreOS matchbox Server
Documentation=https://github.com/coreos/matchbox

[Service]
Environment="IMAGE=quay.io/coreos/matchbox"
Environment="VERSION=v0.6.0"
Environment="MATCHBOX_ADDRESS=0.0.0.0:8080"
Environment="REPO=https://github.com/alexisvincent/steve-cluster"
Environment="CONFIG_PATH=/etc/steve-cluster"
ExecStartPre=if [ -d ${CONFIG_PATH} ] ;\
    then 1 ;\
    else /usr/bin/git clone ${REPO} ${CONFIG_PATH}
ExecStart=/usr/bin/rkt run \
  --net=host \
  --inherit-env \
  --trust-keys-from-https \
  --mount volume=data,target=/var/lib/matchbox \
  --mount volume=config,target=/etc/matchbox \
  --volume data,kind=host,source=${CONFIG_PATH}/matchbox \
  --volume config,kind=host,source=${CONFIG_PATH}/etc/matchbox \
  ${IMAGE}:${VERSION}

[Install]
WantedBy=multi-user.target