[Unit]
Description=CoreOS matchbox Server
Documentation=https://github.com/coreos/matchbox

[Service]
Environment="IMAGE=quay.io/coreos/matchbox"
Environment="VERSION=v0.6.0"
Environment="REPO_PATH=/etc/cluster-config"
ExecStart=/usr/bin/docker run --net=host \
  -v ${REPO_PATH}/matchbox:/var/lib/matchbox:Z \
  -v ${REPO_PATH}/matchbox/etc:/etc/matchbox:Z,ro \
  ${IMAGE}:${VERSION} \
    -address=0.0.0.0:8080 \
    -rpc-address=0.0.0.0:8081 \
    -log-level=debug \
    -assets-path=/var/lib/matchbox/examples/assets

[Install]
WantedBy=multi-user.target