[Unit]
Description=Open pynetkey to enable internet access
After=docker.service network-online.target
Requires=docker.service network-online.target

[Service]
ExecStartPre=-/usr/bin/docker kill pynetkey
ExecStartPre=-/usr/bin/docker rm pynetkey
ExecStartPre=/usr/bin/curl http://10.10.10.10:8080/assets/pynetkey.tar > /etc/pynetkey.tar
ExecStartPre=/usr/bin/docker load < /etc/pynetkey.tar
ExecStart=/usr/bin/echo --- | /usr/bin/docker run \
  --name=pynetkey -i alexisvincent/pynetkey -u ---
ExecStop=/usr/bin/docker stop pynetkey
Restart=always

[Install]
WantedBy=multi-user.target
