[Unit]
Description=Download the github repository containing cluster config
Requires=network-online.target docker.service
After=network-online.target docker.service
ConditionPathExists=!/opt/cluster-config
ConditionHost=gateway

[Service]
ExecStartPre=/usr/bin/mkdir -p /opt/cluster-config
ExecStartPre=/usr/bin/sh -c 'ssh-keyscan 10.10.0.2 >> /root/.ssh/known_hosts'
ExecStart=/usr/bin/rsync -Pza core@10.10.0.2:/opt/cluster-config/ /opt/cluster-config
ExecStartPost=/usr/bin/sh -c '/usr/bin/docker load < /opt/cluster-config/matchbox/assets/pynetkey.tar'
Restart=no

[Install]
WantedBy=multi-user.target
