[Unit]
Description=Open pynetkey to enable internet access
After=docker.service download-assets.service
Requires=docker.service download-assets.service
ConditionHost=gateway

[Service]
ExecStartPre=-/usr/bin/docker kill pynetkey
ExecStartPre=-/usr/bin/docker rm pynetkey
ExecStart=/usr/bin/docker run \
  --net=host \
  -v /opt/cluster-config/matchbox/assets/pynetkey.config:/etc/pynetkey.config \
  --name=pynetkey alexisvincent/pynetkey -c /etc/pynetkey.config
ExecStop=/usr/bin/docker stop pynetkey
Restart=always

[Install]
WantedBy=multi-user.target
